


<div class="container d-flex justify-content-around">

  <div class="jumbotron mt-5 w-50">

    <h1 class="display-4"><%= @flat.address %></h1>
    <h4 class="card-text"> <%= @flat.price %> <i class="fas fa-euro-sign"></i> / night</h4>

    <hr class="my-4">
    <p><%= @flat.description %></p>
    <p class="lead">

    </p>
  </div>




    <div class="form-booking mt-5 shadow-sm p-3 mb-5 bg-light rounded">
        <%= simple_form_for [@flat, @booking], :html => {:"data-price" => @flat.price} do |f| %>
          <form class="justify-content-center booking-form">

            <div class="mb-3">
                <%= f.input  :check_in, as: :string,  input_html: { id: 'start-date'} %>

            </div>
            <div class="mb-3">
              <%= f.input  :check_out, as: :string, input_html: {id: 'end-date'} %>
            </div>



            <%= f.submit "Book", class: "btn btn-sm btn-outline-primary mt-2 w-100" %>

        </form>

        <% end %>
        <div class="total mt-3 d-flex justify-content-center">
          <div class="price-info ">
            <p class="lead total-days border-bottom"> </p>
            <p class="lead total-price "> </p>
          </div>

        </div>
     </div>

 </div>
 <% if @flat.photos.length == 1   %>
<div class="container">
             <%= cl_image_tag @flat.photos[0].key,   crop: :fill, class: "bd-placeholder-img card-img-top rounded-top" %>

</div>
<% else %>

 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% @flat.photos.each do |photo| %>
          <div class="col">
            <div class="card shadow-sm border-0 img-round">
            <%= cl_image_tag photo.key,   crop: :fill, class: "bd-placeholder-img card-img-top rounded-top" %>


            </div>
          </div>
          <%end  %>

        </div>
      </div>

  </div>

<%end %>





</div>
