<div class="container">
  <h2 class="featurette-heading"><%= @flat.address %></h2>
  <!-- <p class="lead">Flat ID: <%= @flat.id %></p> -->
  <div class="container pt-2">
    <%  @flat.photos.each do |photo| %>
      <div class="row">
        <%= cl_image_tag photo.key, crop: :fill %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-sm-8 ">
      <p class="lead pe-5"><%= @flat.description %></p>
    </div>
    <div class="booking_sidebar col-sm-4">

    <%# date is displayed like this YYYY-MM-DD%>
      <%= form_for [@flat, @booking] do |f| %>
        <form >
          <div class="mb-3">
            <%= f.label  :check_in, class: "form-label" %>
            <%= f.date_field :check_in, class: "form-control" %>
          </div>
          <div class="booking_card mb-3">
            <%= f.label  :check_out, class: "form-label" %>
            <%= f.date_field :check_out, class: "form-control" %>
          </div>
          <div class="d-grid gap-2">
            <%= f.submit class: "btn btn-primary" %>
          </div>
            <!-- <%= link_to 'All Flats', flats_path, class:"btn btn-secondary" %> -->
        </form>
      <% end %>
    </div>
  </div>
</div>
