<div class="container">
<br>
<br>
<br>
<br>
<div class="container">

<div class="container">
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   <%= f.label  :check_in, class: "form-label" %>
  <%= f.date_field :check_in, class: "form-control" %>
  <%= f.label  :check_out, class: "form-label" %>
  <%= f.date_field :check_out, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>

</div>
</div>
</div>
