<!-- <h1>Showing one single booking</h1> -->
<div class="container">
  <!-- <h2 class="featurette-heading">The user id for this booking is <%= @booking.user_id %></h2> -->
  <div class="card" style="width: 24rem;">

    <!-- image -->
    <% @flat.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "img-fluid rounded-start card-img-top" %>
    <% end %>

    <!-- card body -->
    <div class="card-body">
      <h5 class="card-title"><%= @flat.address %></h5>
       <p class="card-text"><%= @flat.description %></p>
    </div>

    <!-- card list -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Check in: <%= @booking.check_in %></li>
      <li class="list-group-item">Check out: <%= @booking.check_out %></li>
    </ul>
    <div class="card-body">

    </div>
  </div>

  <div class="container">
    <%= link_to 'Go back', bookings_path, class: "btn btn-sm btn-outline-secondary" %>
    <%# <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-outline-secondary" %>
    <%# <%= link_to 'Back', root_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
  <%# form for bookings %>
 </div>
