
<!-- HOME BANNER HEADER -->
<div class="home-banner vertical-center">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1 class="display-1 mb-4">Intergalactic rent spaces for space travellers</h1>
      <%= link_to "Discover", flats_path , class: "btn btn-primary" %>
    </div>
    </div>
  </div>
</div>


<!-- INTRODUCTION -->
<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-7 py-5">
      <h4 class="text-center py-5"> We help connect intergalactic worlds where you can belong anywhere and where space travellers can live in a cozy place, instead of just traveling to it.</h4>
    </div>
  </div>
</div>


<!-- TEXT IMAGE BANNER: DISCOVER -->
<div class="container my-5">
  <div class="text-image-banner">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-4">
        <h3 class="display-2">Discover.</h3>
        <p>Space Flat provides all retail professionals with a virtual window to publish their projects, products, services or innovations.</p>
      </div>
      <div class="col-md-7">
        <div class="imagery"><%= cl_image_tag("yepuo0znudeswqfw74iu") %></div>
      </div>
    </div>
  </div>
</div>

<!-- TEXT IMAGE BANNER: BOOK -->
<div class="container my-5 py-5">
  <div class="text-image-banner py-5">
    <div class="row align-items-center justify-content-between py-5">
      <div class="col-md-4">
        <h3 class="display-2">Book.</h3>
        <p>Space Flat provides all retail professionals with a virtual window to publish their projects, products, services or innovations.</p>
      </div>
      <div class="col-md-7">
        <div class="imagery"><%= cl_image_tag("v1flr739hiemhyzoohpu") %></div>
      </div>
    </div>
  </div>
</div>

<!-- EXPLORE FLATS -->

<div class="container my-5 pb-5">
  <h3 class="display-2 pt-5 pb-3">Explore flats.</h3>
  <div class="row justify-content-center">
    <!-- start loop -->
    <% @flats.first(3).each do |flat| %>
      <div class="col-1 col-sm-4 ">
        <div class="card-home">
          <%= link_to flat, class: "text-decoration-none" do %>
            <%= cl_image_tag flat.photos[0].key, class: "square-img bd-placeholder-img card-img-top rounded-3 pb-3" %>

              <h5> <%= flat.address %></h5>
              <h5> <%= flat.price %></h5>
          <%end%>
        </div>
      </div>
    <!-- end loop -->
    <%end%>
  </div>
</div>
